---
layout: archive
title: "Leveraging Topology and Geometry in Machine Learning"
permalink: /research/
author_profile: true
---

{% include base_path %}

My research interests revolve around developing ways to exploit topology (shape) and geometry (structure) in different stages of a machine learning and/or data analysis pipeline. This involves:
<ul>
  <li>Extracting signatures (features) for machine learning, analysis, and visualization.</li>
  <li>Developing learning algorithms that leverage the topology or geometry.</li>
  <li>Utilizing topology and geometry to understand, interpret trained machine learning models.</li>
</ul>

<div class="page__content">
  <h2> Learning with Complex Data </h2>
</div>
<p>
  Complex, non-Euclidean data types like trees, graphs, shapes, sets, etc. pose fundamental challenges to traditional machine learning models and algorithmic frameworks. Topological and geometric techniques can be used to address them. I am interested in theoretical, algorithmic as well as application-related problems in this area, developing novel topological and geometric summaries of the data, and developing algorithms to efficiently compute them and utilize them in machine learning, statistical analysis, and visualization, and of course applying these techniques and algorithms to solve real-world problems.
</p>

<div class="page__content">
  <h2> Learning Algorithms that Leverage Topology and Geometry </h2>
</div>
<p>
  Large systems with complex interactions and multiscale dynamics are ubiquitous in social, biological and technological settings. Simplicial complexes and hypergraphs are generalizations of graphs that enable us to model rich multilateral relationships present in such systems. I'm interested in developing methods that can leverage the topology and geometry encoded in these objects for machine learning, data analysis, and visualization. A vast arsenal of methods has been developed to study the properties of graphs. In recent years, topics such as graph learning and graph signal processing have attracted tremendous research interest. I work on extending these methods to simplicial complexes and hypergraphs.
  <br><br>
  Another way of leveraging topology and geometry in the learning process is through topological optimization. The idea is to design objectives that optimize certain topological or geometric measurements, penalizing outputs that do not match the expected signature. This can be particularly useful in tasks like segmentation and object detection. We can also consider topological constraints for the entire latent space, for example, to regularize the shape and structure of the decision boundary or the activation spaces of layers in a neural network.
</p>

<div class="page__content">
  <h2> Topology and Geometry for Model Understanding and Interpretability </h2>
</div>
<p>
  Understanding and explaining model behavior has become crucial with the emergence of deep learning. Topological and geometric summaries mentioned earlier can also be effective in characterizing the parameter spaces or the activation spaces of layers of a trained deep learning model. Characterizing the shape and the structure of these spaces can potentially help us understand the model's response to adversarial inputs and enable us to create more robust models.
</p>

{% comment %}
  <!-- {% for post in site.research %}
    {% include archive-single.html %}
  {% endfor %} -->
{% endcomment %}

